<!DOCTYPE html>
<!--Setting jinja variables -->
<!-- -->
{% extends 'nav-bar.html'%}
{% block geoguessr %}
{% set testvar = data["test1"] %}
{% set testvar1 = data1["test2"] %}
{% set testvar2 = data2["picture"] %}
{% set repel1 = data2["repel1"] %}

<html lang="en">
<b><a style="text-decoration: none" href="landing"><p class="navheader">geo guessr</p></b></a>


<h1>Refresh page for new image</h1>
{{testvar}} <!-- Testing if varibles work-->
{{testvar1}}<!-- Testing if varibles work-->
{{testvar2}}<!-- Testing if varibles work-->
{{repel1}}
{% if testvar == data["test2"]%} <!-- If statement test *it worked*-->
iftest
{% endif %}

{% if repel1 == "1" %}
number if was 1
{% endif %}
<div>
    <iframe src={{repel1}} height="300" width="300">  </iframe>
</div>


<!--How I get the random image each time -->
<img src={{testvar2}} height="500" width="1000" alt="forest picture">


</body>
</html>
{% endblock %}